<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="medications" href="/tabs/medications" class="custom-tab-button">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>Meds</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="settings" href="/tabs/settings" class="custom-tab-button">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
  
</ion-tabs>
